.env
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea/
/bin/
/.dev
e2e-tests/docker/keyFile
e2e-tests/docker/backups/pbm
e2e-tests/docker/pbm.conf.yaml
e2e-tests/docker/conf/aws.yaml
e2e-tests/docker/conf/gcs.yaml
e2e-tests/docker/conf/azure.yaml
