Source: percona-backup-mongodb
Section: utils
Priority: optional
Maintainer: Percona LLC
Version: %{version}
Homepage: https://percona.com
Build-Depends: libkrb5-dev

Package: percona-backup-mongodb
Architecture: any
Description: Percona Backup for MongoDB is a distributed, low-impact solution for achieving consistent backups of MongoDB Sharded Clusters and Replica Sets.
