apiVersion: psmdb.percona.com/v1alpha1
kind: PerconaServerMongoDB
metadata:
  name: my-cluster-name
spec:
  size: 3 
  image: percona/percona-server-mongodb:3.6
  mongodb:
    cpus: 1
    memory: 512
    storage: 5
    port: 27017
    hostPort: 0
    replsetName: rs0
    storageEngine: wiredTiger
    operationProfiling:
      slowMs: 100
