apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.16.3
  name: perconaservermongodbrestores.psmdb.percona.com
spec:
  group: psmdb.percona.com
  names:
    kind: PerconaServerMongoDBRestore
    listKind: PerconaServerMongoDBRestoreList
    plural: perconaservermongodbrestores
    shortNames:
    - psmdb-restore
    singular: perconaservermongodbrestore
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - description: Cluster name
      jsonPath: .spec.clusterName
      name: Cluster
      type: string
    - description: Job status
      jsonPath: .status.state
      name: Status
      type: string
    - description: Created time
      jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    name: v1
    schema:
      openAPIV3Schema:
        properties:
          apiVersion:
            type: string
          kind:
            type: string
          metadata:
            type: object
          spec:
            properties:
              backupName:
                type: string
              backupSource:
                properties:
                  azure:
                    properties:
                      container:
                        type: string
                      credentialsSecret:
                        type: string
                      endpointUrl:
                        type: string
                      prefix:
                        type: string
                    required:
                    - credentialsSecret
                    type: object
                  completed:
                    format: date-time
                    type: string
                  destination:
                    type: string
                  error:
                    type: string
                  lastTransition:
                    format: date-time
                    type: string
                  latestRestorableTime:
                    format: date-time
                    type: string
                  pbmName:
                    type: string
                  pbmPod:
                    type: string
                  pbmPods:
                    additionalProperties:
                      type: string
                    type: object
                  replsetNames:
                    items:
                      type: string
                    type: array
                  s3:
                    properties:
                      bucket:
                        type: string
                      credentialsSecret:
                        type: string
                      debugLogLevels:
                        type: string
                      endpointUrl:
                        type: string
                      forcePathStyle:
                        type: boolean
                      insecureSkipTLSVerify:
                        type: boolean
                      maxUploadParts:
                        type: integer
                      prefix:
                        type: string
                      region:
                        type: string
                      retryer:
                        properties:
                          maxRetryDelay:
                            type: string
                          minRetryDelay:
                            type: string
                          numMaxRetries:
                            type: integer
                        type: object
                      serverSideEncryption:
                        properties:
                          kmsKeyID:
                            type: string
                          sseAlgorithm:
                            type: string
                          sseCustomerAlgorithm:
                            type: string
                          sseCustomerKey:
                            type: string
                        type: object
                      storageClass:
                        type: string
                      uploadPartSize:
                        type: integer
                    required:
                    - bucket
                    type: object
                  start:
                    format: date-time
                    type: string
                  state:
                    type: string
                  storageName:
                    type: string
                  type:
                    type: string
                type: object
              clusterName:
                type: string
              pitr:
                properties:
                  date:
                    type: string
                  type:
                    type: string
                type: object
              replset:
                type: string
              selective:
                properties:
                  namespaces:
                    items:
                      type: string
                    type: array
                  withUsersAndRoles:
                    type: boolean
                type: object
              storageName:
                type: string
            type: object
          status:
            properties:
              completed:
                format: date-time
                type: string
              error:
                type: string
              lastTransition:
                format: date-time
                type: string
              pbmName:
                type: string
              pitrTarget:
                type: string
              state:
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
