# This kustomization.yaml is not intended to be run by itself,
# since it depends on service name and namespace that are out of this kustomize package.
# It should be run by config/default
resources:
- bases/psmdb.percona.com_perconaservermongodbbackups.yaml
- bases/psmdb.percona.com_perconaservermongodbrestores.yaml
- bases/psmdb.percona.com_perconaservermongodbs.yaml
#+kubebuilder:scaffold:crdkustomizeresource

patchesJson6902:
  - path: patches/deprecated-1.10.json
    target:
      name: perconaservermongodbs.psmdb.percona.com
  - path: patches/deprecated-1.11.json
    target:
      name: perconaservermongodbs.psmdb.percona.com
  - path: patches/deprecated-1.12.json
    target:
      name: perconaservermongodbs.psmdb.percona.com

# the following config is for teaching kustomize how to do kustomization for CRDs.
configurations:
- kustomizeconfig.yaml
