---
apiVersion: apiextensions.k8s.io/v1
kind: CustomResourceDefinition
metadata:
  annotations:
    controller-gen.kubebuilder.io/version: v0.19.0
  name: perconaservermongodbbackups.psmdb.percona.com
spec:
  group: psmdb.percona.com
  names:
    kind: PerconaServerMongoDBBackup
    listKind: PerconaServerMongoDBBackupList
    plural: perconaservermongodbbackups
    shortNames:
    - psmdb-backup
    singular: perconaservermongodbbackup
  scope: Namespaced
  versions:
  - additionalPrinterColumns:
    - description: Cluster name
      jsonPath: .spec.clusterName
      name: Cluster
      type: string
    - description: Storage name
      jsonPath: .spec.storageName
      name: Storage
      type: string
    - description: Backup destination
      jsonPath: .status.destination
      name: Destination
      type: string
    - description: Backup type
      jsonPath: .status.type
      name: Type
      type: string
    - description: Backup size
      jsonPath: .status.size
      name: Size
      type: string
    - description: Job status
      jsonPath: .status.state
      name: Status
      type: string
    - description: Completed time
      jsonPath: .status.completed
      name: Completed
      type: date
    - description: Created time
      jsonPath: .metadata.creationTimestamp
      name: Age
      type: date
    name: v1
    schema:
      openAPIV3Schema:
        properties:
          apiVersion:
            type: string
          kind:
            type: string
          metadata:
            type: object
          spec:
            properties:
              clusterName:
                type: string
              compressionLevel:
                type: integer
              compressionType:
                type: string
              startingDeadlineSeconds:
                default: 120
                format: int64
                minimum: 1
                type: integer
              storageName:
                type: string
              type:
                enum:
                - logical
                - physical
                - incremental
                - incremental-base
                type: string
            type: object
          status:
            properties:
              azure:
                properties:
                  container:
                    type: string
                  credentialsSecret:
                    type: string
                  endpointUrl:
                    type: string
                  prefix:
                    type: string
                required:
                - credentialsSecret
                type: object
              completed:
                format: date-time
                type: string
              destination:
                type: string
              error:
                type: string
              filesystem:
                properties:
                  path:
                    type: string
                required:
                - path
                type: object
              gcs:
                properties:
                  bucket:
                    type: string
                  chunkSize:
                    type: integer
                  credentialsSecret:
                    type: string
                  prefix:
                    type: string
                  retryer:
                    properties:
                      backoffInitial:
                        format: int64
                        type: integer
                      backoffMax:
                        format: int64
                        type: integer
                      backoffMultiplier:
                        type: number
                    required:
                    - backoffInitial
                    - backoffMax
                    - backoffMultiplier
                    type: object
                  workloadIdentity:
                    type: boolean
                required:
                - bucket
                type: object
              lastTransition:
                format: date-time
                type: string
              lastWriteAt:
                format: date-time
                type: string
              latestRestorableTime:
                format: date-time
                type: string
              minio:
                properties:
                  bucket:
                    type: string
                  caBundle:
                    properties:
                      key:
                        type: string
                      name:
                        default: ""
                        type: string
                      optional:
                        type: boolean
                    required:
                    - key
                    type: object
                    x-kubernetes-map-type: atomic
                  credentialsSecret:
                    type: string
                  debugTrace:
                    type: boolean
                  endpointUrl:
                    type: string
                  forcePathStyle:
                    type: boolean
                  insecureSkipTLSVerify:
                    type: boolean
                  partSize:
                    format: int64
                    type: integer
                  prefix:
                    type: string
                  region:
                    type: string
                  retryer:
                    properties:
                      numMaxRetries:
                        type: integer
                    required:
                    - numMaxRetries
                    type: object
                  secure:
                    type: boolean
                type: object
              pbmName:
                type: string
              pbmPod:
                type: string
              pbmPods:
                additionalProperties:
                  type: string
                type: object
              replsetNames:
                items:
                  type: string
                type: array
              s3:
                properties:
                  bucket:
                    type: string
                  credentialsSecret:
                    type: string
                  debugLogLevels:
                    type: string
                  endpointUrl:
                    type: string
                  forcePathStyle:
                    type: boolean
                  insecureSkipTLSVerify:
                    type: boolean
                  maxUploadParts:
                    format: int32
                    type: integer
                  prefix:
                    type: string
                  region:
                    type: string
                  retryer:
                    properties:
                      maxRetryDelay:
                        type: string
                      minRetryDelay:
                        type: string
                      numMaxRetries:
                        type: integer
                    type: object
                  serverSideEncryption:
                    properties:
                      kmsKeyID:
                        type: string
                      sseAlgorithm:
                        type: string
                      sseCustomerAlgorithm:
                        type: string
                      sseCustomerKey:
                        type: string
                    type: object
                  storageClass:
                    type: string
                  uploadPartSize:
                    type: integer
                required:
                - bucket
                type: object
              size:
                type: string
              start:
                format: date-time
                type: string
              state:
                type: string
              storageName:
                type: string
              type:
                type: string
            type: object
        type: object
    served: true
    storage: true
    subresources:
      status: {}
